html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0; }

html, body {
  max-width: 100%;
  height: 100%;
  -webkit-transition: all 0.125s linear;
  -o-transition: all 0.125s linear;
  transition: all 0.125s linear;
  position: relative;
  background-color: #ffffff;
  scroll-behavior: smooth; }

body {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  overflow-x: hidden;
  color: #545454;
  font-size: 16px;
  font-family: "Circe-Regular", sans-serif; }

img {
  max-width: 100%;
  height: auto; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.app{
  padding: 0 0 0 0;
}

svg{
  transition: all 0.133ms ease-in;
  cursor: pointer
}

path{
  transition: all 0.133ms ease-in;
}
svg:hover path{
  fill: #79a6d7;
}
.modal-wrap{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -100;
  background: rgba(68, 68, 68, 0.5);
  transition: opacity 0.133s ease-in;
}
.modal-wrap.open{
  z-index: 60;
  opacity: 1;
  transition: opacity 0.133s ease-in;
}
.modal-wrap .inn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.modal-wrap .inn .block{
  background: #FEFEFE;
  border-radius: 24px;
  padding: 24px 36px;
  position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#root, .app, .containeer{
  height: 100%
}

